* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html,
body {
    height: 100%;
}


ul {
    padding: 0;
    list-style: none;
}








































.portada {
    position: relative;
}

.portada img {
    width: 100%;
    margin-top: -8px;
}

.portada h1 {
    position: absolute;
    top: 80%;
    left: 5%;
    color: white;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.row {
    position: relative;
    top: 20px;
}


.leftcolumn {
    float: right;
    width: 35%;
    height: inherit;
    font-size: 13;

    padding: 100px 30px 100px 0;

    justify-content: center;
    text-align: center;
}




.rightcolumn {
    float: left;
    overflow: auto;
    width: 65%;
    background-color: none;
    padding-left: 10px;
}

.fakeimg {
    width: 100%;
    padding: 0px;
}

.fakeimg video {
    width: 100%;
}

.card {
    background-color: none;
    padding: 0px;

}

.card h2 {
    color: #67727E;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}








/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    */



.noticias {
    margin-top: 10px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 50px;
}

.boxes {
    position: static;
    clear: both;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;



}

.cuadro h4 {
    text-align: center;
}

.cuadro {
    position: relative;


    overflow: auto;
    z-index: 2;

    display: inline-block;
    text-align: left;

    background-color: white;
    color: black;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 290px;
    height: 400px;

    margin: 0px 0 0 30px;


}

.cuadro div {
    position: relative;
    width: 100%;
    height: 170px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#cuadro1 div {
    background-image: url(/images/noticias/anciana.jpg);
}

#cuadro2 div {
    background-image: url(/images/noticias/rejuguete.jpg);
}

#cuadro3 div {
    background-image: url(/images/noticias/navidad.jpg);
}


.cuadro p {
    text-align: left;
    font-size: 10;
    padding: 5px 10px 10px 10px;
}



/*////////////////////////////////////////*/



.comoayudar {
    clear: both;
    position: relative;
    z-index: -8;
    top: 0px;

    font-size: 15px;
    color: #67727E;


    text-align: center;
    padding: 60px 40px 100px 40px;
    margin: 0px 0 0 0;
    width: 100%;
    height: auto;

    justify-content: center;



}

.comoayudar .text {
    padding: 0px 100px 0 100px;
}

.flex-container {
    display: flex;
    height: 100%;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background-color: none;
}

.flex-container > div {

    width: 100px;
    height: 200px;
    margin-left: 40px;
    margin-bottom: 70px;

    text-align: center;
    font-size: 13px;
}

.flex-container div img {
    width: 100%;
    height: auto;
}











@media screen and (max-width: 590px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

}




@media screen and (max-width: 800px) {
    .boxes {
        display: block;
    }

    .cuadro {
        display: block;
        width: 100%;
        height: 200px;
        margin-top: 30px;
        justify-content: center;
        overflow-x: auto;
    }


    .cuadro div {
        width: 40%;
        height: inherit;
        float: right;
        margin-left: 10px;
    }
}
