/*#739086
#87281b rojo oscuro
 #d3624b naranja
#ac918f  gris rosita


*/


@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@200;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;

    align-items: center;


}

* {
    outline: none;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


ul {
    list-style-type: none;
}


h1,
h2,
h3 {
    font-family: 'Cabin', sans-serif;
}


p {

    line-height: 25px;
    color: #646464;
    font-size: 12px;
}









a {
    text-decoration: none;

    font-family: 'Cabin', sans-serif;
    color: #646464;
}

a:hover {
    text-decoration: none;
    color: #d3624b;
}

a:active {
    color: #E3E4E0;
}



button {
    background-color: #87281b;
    color: white;
    width: 130px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: #67727E;
}








.titulo {
    background-color: white;
    color: black;
    height: 200px;
    text-align: center;
    margin: 0px 0 20px 0;
    padding: 100px 0 0 0;

    font-size: 20px;
}
















@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');




.page {}


header {
    display: flex;
    position: fixed;




    z-index: 4;

    height: 70px;
    width: 100%;

    background-color: rgb(255, 255, 255, 0.9);

    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*/////////mio//////////////*/
header ul {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
}

header ul li {
    text-align: center;
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 0.9rem;
}

header img {
    padding: none;
    width: 80px;
    height: 50px;

}

header a {
    color: black;
}

/*//////////////////*/





#nav-container {
    z-index: 5;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

#nav-container .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #000;
}

#nav-container:focus-within .bg {
    visibility: visible;
    opacity: .6;
}

#nav-container * {
    visibility: visible;
}

.button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 8;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: .3s;
}

.icon-bar + .icon-bar {
    margin-top: 5px;
}

#nav-container:focus-within .button {
    pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
}


#nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    z-index: 5;

    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
}

#nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#nav-content li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
}

#nav-content li a:hover {}


#nav-container:focus-within #nav-content {
    transform: none;
}





@media screen and (max-width: 640px) {
    header ul {
        display: none;

    }

    #nav-container {
        display: flex;
    }
